* {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1600px;
}

.black-btn {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  background: #000000;
  padding: 30px 24px;
  max-width: 350px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: all 0.3s ease;
}
.black-btn:hover {
  background: #393939;
  color: #fff;
}
@media only screen and (max-width: 1200px) {
  .black-btn {
    padding: 10px 20px;
    font-size: 20px;
    max-width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .black-btn {
    font-size: 16px;
  }
}

.header .logo {
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -6px;
}
@media only screen and (max-width: 1440px) {
  .header .logo {
    font-size: 48px;
  }
}
@media only screen and (max-width: 481px) {
  .header .logo {
    font-size: 30px;
  }
}
.header nav a {
  color: #87868b;
  font-size: 24px;
  font-weight: 700;
}

.footer .grey-bg {
  background: linear-gradient(90deg, rgb(227, 226, 231) 88%, rgb(255, 255, 255) 88%);
}
@media only screen and (max-width: 768px) {
  .footer .grey-bg {
    background: #e3e2e7;
  }
}
.footer .logo {
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
}
@media only screen and (max-width: 1440px) {
  .footer .logo {
    font-size: 48px;
  }
}
.footer .black-bg {
  background: #000;
  padding: 80px 0;
}
@media only screen and (max-width: 1440px) {
  .footer .black-bg {
    padding: 40px 0;
  }
}
.footer .black-btn {
  width: 350px;
  color: #fff;
  font-weight: 500;
}
@media only screen and (max-width: 1440px) {
  .footer .black-btn {
    max-width: 300px;
  }
}
.footer a {
  color: #87868b;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (max-width: 1440px) {
  .footer a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .footer a {
    font-size: 16px;
  }
}

.about-page .hero-section {
  margin-bottom: 280px;
}
@media only screen and (max-width: 991px) {
  .about-page .hero-section {
    margin-bottom: 60px;
  }
}
.about-page .hero-section .bg-about {
  background: url("../images/office-desk.png") no-repeat;
  padding: 250px 0 90px;
  z-index: 0;
}
.about-page .hero-section .white-bg {
  position: absolute;
  height: 60%;
  width: 60%;
  background: #fff;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 991px) {
  .about-page .hero-section .white-bg {
    display: none;
  }
}
.about-page .hero-section .intro {
  color: #e3e2e7;
  font-size: 260px;
  line-height: 1;
  font-weight: 600;
}
@media only screen and (max-width: 1440px) {
  .about-page .hero-section .intro {
    font-size: 140px;
  }
}
@media only screen and (max-width: 991px) {
  .about-page .hero-section .intro {
    padding-bottom: 40px;
    text-shadow: 0px 0px 4px #939393;
  }
}
@media only screen and (max-width: 768px) {
  .about-page .hero-section .intro {
    font-size: 96px;
  }
}
.about-page .hero-section h2 {
  color: #000000;
  font-weight: 700;
  font-size: 52px;
}
@media only screen and (max-width: 991px) {
  .about-page .hero-section h2 {
    color: white;
    text-shadow: 0px 0px 4px #939393;
  }
}
@media only screen and (max-width: 768px) {
  .about-page .hero-section h2 {
    font-size: 36px;
  }
}
.about-page .hero-section p {
  font-size: 24px;
  font-weight: 500;
  color: #87868b;
  padding-right: 100px;
}
@media only screen and (max-width: 991px) {
  .about-page .hero-section p {
    color: white;
    text-shadow: 0px 0px 4px #939393;
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .about-page .hero-section p {
    font-size: 20px;
  }
}
.about-page .section-passion {
  margin-bottom: 160px;
}
@media only screen and (max-width: 991px) {
  .about-page .section-passion {
    margin-bottom: 100px;
  }
}
.about-page .section-passion h2 {
  font-size: 60px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .about-page .section-passion h2 {
    font-size: 36px;
  }
}
.about-page .section-passion p {
  font-size: 24px;
  font-weight: 500;
  color: #87868b;
}
@media only screen and (max-width: 768px) {
  .about-page .section-passion p {
    font-size: 20px;
  }
}
.about-page .section-passion .arrow-image {
  position: absolute;
  top: -78%;
  left: 18%;
}
@media only screen and (max-width: 1600px) {
  .about-page .section-passion .arrow-image {
    top: -67%;
  }
  .about-page .section-passion .arrow-image img {
    width: 950px;
  }
}
@media only screen and (max-width: 1440px) {
  .about-page .section-passion .arrow-image {
    top: -55%;
    left: 20%;
  }
  .about-page .section-passion .arrow-image img {
    width: 800px;
  }
}
@media only screen and (max-width: 1200px) {
  .about-page .section-passion .arrow-image {
    top: -40%;
    left: 25%;
  }
  .about-page .section-passion .arrow-image img {
    width: 600px;
  }
}

/*# sourceMappingURL=about.css.map */
