* {
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1600px;
}

.black-btn {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  background: #000000;
  padding: 30px 24px;
  max-width: 350px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: all 0.3s ease;
}
.black-btn:hover {
  background: #393939;
  color: #fff;
}
@media only screen and (max-width: 1200px) {
  .black-btn {
    padding: 10px 20px;
    font-size: 20px;
    max-width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .black-btn {
    font-size: 16px;
  }
}

.header .logo {
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -6px;
}
@media only screen and (max-width: 1440px) {
  .header .logo {
    font-size: 48px;
  }
}
@media only screen and (max-width: 481px) {
  .header .logo {
    font-size: 30px;
  }
}
.header nav a {
  color: #87868b;
  font-size: 24px;
  font-weight: 700;
}

.footer .grey-bg {
  background: linear-gradient(90deg, rgb(227, 226, 231) 88%, rgb(255, 255, 255) 88%);
}
@media only screen and (max-width: 768px) {
  .footer .grey-bg {
    background: #e3e2e7;
  }
}
.footer .logo {
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
}
@media only screen and (max-width: 1440px) {
  .footer .logo {
    font-size: 48px;
  }
}
.footer .black-bg {
  background: #000;
  padding: 80px 0;
}
@media only screen and (max-width: 1440px) {
  .footer .black-bg {
    padding: 40px 0;
  }
}
.footer .black-btn {
  width: 350px;
  color: #fff;
  font-weight: 500;
}
@media only screen and (max-width: 1440px) {
  .footer .black-btn {
    max-width: 300px;
  }
}
.footer a {
  color: #87868b;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (max-width: 1440px) {
  .footer a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .footer a {
    font-size: 16px;
  }
}

.hero-section {
  max-width: 1600px;
  padding: 170px 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 160px;
  background: url("/images/hero-image.png") no-repeat center;
  background-size: cover;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 1440px) {
  .hero-section {
    margin-bottom: 100px;
    padding: 100px 0;
  }
}
.hero-section .box {
  max-width: fit-content;
  display: flex;
  left: -80px;
  bottom: -170px;
  position: absolute;
  box-shadow: 2 2 4px #212121;
}
@media only screen and (max-width: 1800px) {
  .hero-section .box {
    left: 0px;
  }
}
@media only screen and (max-width: 1440px) {
  .hero-section .box {
    bottom: -100px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section .box {
    max-width: 240px;
  }
}
.hero-section .box__item {
  color: #87868b;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 1px #212121;
  cursor: pointer;
  transition: all 0.2s ease;
}
.hero-section .box__item:hover {
  background: #393939;
  color: #fff;
}
.hero-section .box__item--active {
  background: #000000;
  color: #fff;
}
.hero-section .box__item--active:hover {
  background: #000000;
}
@media only screen and (max-width: 768px) {
  .hero-section .box__item {
    min-width: 60px;
    min-height: 60px;
  }
}
.hero-section h1 {
  font-size: 100px;
  color: #000000;
}
@media only screen and (max-width: 1200px) {
  .hero-section h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section h1 {
    font-size: 48px;
  }
}
.hero-section p {
  font-size: 24px;
  color: #19181a;
}
@media only screen and (max-width: 768px) {
  .hero-section p {
    font-size: 16px;
  }
}

.welcome-section {
  margin-bottom: 270px;
}
@media only screen and (max-width: 1440px) {
  .welcome-section {
    margin-bottom: 180px;
  }
}
@media only screen and (max-width: 768px) {
  .welcome-section {
    margin-bottom: 100px;
  }
}
.welcome-section .bg-stairs {
  background: url("/images/spiral-stairscase.png") no-repeat;
  background-position: right bottom;
  padding-bottom: 30px;
}
@media only screen and (max-width: 1440px) {
  .welcome-section .bg-stairs {
    background-size: 50%;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .welcome-section .bg-stairs {
    background-size: cover;
    padding-bottom: 20px;
  }
}
.welcome-section .intro {
  font-weight: 600;
  font-size: 260px;
  color: #e3e2e7;
  padding-bottom: 73px;
  line-height: 1;
}
@media only screen and (max-width: 1440px) {
  .welcome-section .intro {
    font-size: 160px;
  }
}
@media only screen and (max-width: 768px) {
  .welcome-section .intro {
    font-size: 80px;
  }
}
.welcome-section h2 {
  font-size: 60px;
  font-weight: 700;
}
@media only screen and (max-width: 1440px) {
  .welcome-section h2 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .welcome-section h2 {
    text-shadow: 0px 0px 4px #939393;
    color: #fff;
  }
}
.welcome-section p {
  color: #87868b;
  font-size: 24px;
  font-weight: 500;
}
@media only screen and (max-width: 1440px) {
  .welcome-section p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .welcome-section p {
    text-shadow: 0px 0px 4px #939393;
    font-size: 16px;
    color: #fff;
  }
}

.about-section {
  margin-bottom: 280px;
}
@media only screen and (max-width: 1440px) {
  .about-section {
    margin-bottom: 100px;
  }
}
.about-section .bg-team {
  background: url("/images/design-ideas.png") no-repeat center;
  background-size: cover;
  padding: 280px 0;
}
@media only screen and (max-width: 1440px) {
  .about-section .bg-team {
    padding: 140px 0;
  }
}
.about-section h2 {
  font-size: 60px;
  color: #fff;
}
@media only screen and (max-width: 1440px) {
  .about-section h2 {
    font-size: 48px;
  }
}
.about-section .black-btn {
  max-width: 250px;
}
@media only screen and (max-width: 1440px) {
  .about-section .black-btn {
    max-width: 200px;
  }
}

.featured-section {
  margin-bottom: 220px;
}
@media only screen and (max-width: 1440px) {
  .featured-section {
    margin-bottom: 100px;
  }
}
.featured-section h2 {
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
}
@media only screen and (max-width: 1440px) {
  .featured-section h2 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .featured-section h2 {
    font-size: 32px;
  }
}
.featured-section .black-btn {
  width: 210px;
}
.featured-section .feature-box {
  position: relative;
  z-index: 0;
}
.featured-section .feature-box__content {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  color: #fff;
  padding: 40px 60px 60px 60px;
}
@media only screen and (max-width: 1440px) {
  .featured-section .feature-box__content {
    padding: 30px 45px 45px 45px;
  }
}
@media only screen and (max-width: 768px) {
  .featured-section .feature-box__content {
    padding: 10px 15px 10px 15px;
  }
}
.featured-section .feature-box__number {
  font-size: 270px;
  font-weight: 500;
  line-height: 1;
}
@media only screen and (max-width: 1440px) {
  .featured-section .feature-box__number {
    font-size: 160px;
  }
}
@media only screen and (max-width: 768px) {
  .featured-section .feature-box__number {
    font-size: 64px;
  }
}
.featured-section .feature-box h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .featured-section .feature-box h3 {
    font-size: 16px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 481px) {
  .featured-section .feature-box h3 {
    font-size: 13px;
  }
}
.featured-section .feature-box a {
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
@media only screen and (max-width: 768px) {
  .featured-section .feature-box a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 481px) {
  .featured-section .feature-box a {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
